<main>
  <section class="form-section">
    <img [src]="logoImage" alt="Logo do GitGud" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>

    <button class="primaryBtn" (click)="submit()" [disabled]="disablePrimaryBtn">
      {{ primaryBtnText }}
    </button>

    @if (secondaryBtnText) {
      <div class="or-div">
        <div class="simple-line"></div>
        <span>or</span>
        <div class="simple-line"></div>
      </div>
      <button class="secondaryBtn" (click)="navigate()">{{ secondaryBtnText }}</button>
    }
  </section>

  <section class="main-section">
    <div class="main-div">
      <h1>Git Gud, Bruh!</h1>
      <img class="bonfire-image" [src]="bonfireImage" alt="Fogueira" />
    </div>
  </section>
</main>
